input.no-validate:valid {
  background-image: none !important;
  border-color: var(--bs-border-color-light) !important;
}

input.no-validate:valid:focus {
  outline-color: var(--bs-primary) !important;
  box-shadow: 0 0 0 0.25rem rgb(0 67 127 / 25%) !important;
}